article {
  background-color: red;
  padding: 0px 0px 0.2px 5px;
  margin-top: 3px;
}

h1, h2 {
  font-family: Lato;
  color: #FFF;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 18px;
  background-color: pink;
  padding-left: 3px;
}
